$dim: 80px;

#nav-bar {
  position: fixed;
  width: 100%;
  color: #e8fdff;
  padding: 0 2em;
  top: 0;
  background-color: #00a087;
}

.fa-edit {
  position: relative;
  top: 1.45em;
  left: 2em;
  color: black;
  float: right;
  margin-top: 0.5em;
  padding-right: 1em;
  text-align: right;
  width: 1em;
}

.fa-edit:hover {
  background-color: white;
  cursor: pointer;
}

#nav-bar {

.logo {
  width: $dim;
  height: $dim;
  margin-right: 10px;
}
.header {
  font-size: 2em;
  position: absolute;
  line-height: $dim;
}
}

#compose:hover {
  cursor: pointer;
  background-color: white;
}

#compose {
  float: right;
  margin-top: 0.5em;
  width: 7em;
  height: 4em;
  border: 1px solid black;
  border-radius: 10px;
  background-color: honeydew;
  padding-right: 1em;
  text-align: right;
}




