
.new-register {
  display: none;
  margin: 2em;
  border: 2px solid lightgray;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 10px;
  text-align: center;
}

.rsub {
  margin-top: 0.8em;
  border-radius: 25px;
  box-shadow: 0 0 5px 5px;
  background-color: #00a087;
  border: 1px solid white;
  width: 90%;
}


