.new-tweet {
  margin: 2em;
  border: 2px solid lightgray;
  padding: 1em;
  background-color: #eee;
  border-radius: 10px;
}

.new-tweet h2 {
  margin: 1px;
}

.new-tweet hr {
  margin-bottom: 1.5em;
}

.new-tweet textarea {
  width: 100%;
}

.counter {
  padding-left: 18.5em;
  font-size: .9em;
}