.new-tweet {
  display: none;
  margin: 2em;
  border: 2px solid lightgray;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 10px;
}

.new-tweet .h2 {
  margin: 1px;
  width: 7em;
}

.problem {
  display: none;
  position: absolute;
  top: 9.7em;
  margin-left: 14em;
  width: 6em;
  height: 1em;
  color: red;
}

.new-tweet hr {
  margin-bottom: 1.5em;
  padding: 0 2em;
}

.new-tweet textarea {
  width: 100%;
}

.counter {
  padding-left: 19.5em;
  font-size: .9em;
}